@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/*RESET*/
*{
    padding:0;margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #323232;
    font-size: 16px;
    line-height: 1.2;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-shadow:1px 1px 1px 1px rgba(0,0,0,0.005);
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

input:focus,button{outline:none;}
button{cursor:pointer;}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*UTILITIES*/
.txt-center{text-align:center!important;}
.txt-left{text-align:left!important;}
.txt-right{text-align:right!important;}
.txt-justify{text-align:justify!important;}
/*colores*/
.blanco{color:#fff!important;}
.negro{color:#000!important;}

.bg-blanco{background-color:#fff!important;}
.bg-negro{background-color:#000!important;}

/*cases*/
.txt-upper{text-transform:uppercase!important;}
.txt-lower{text-transform:lowercase!important;}
.txt-capitalize{text-transform:capitalize!important;}

/*bloques*/
.block{display:block!important;}
.inline{display:inline!important;}
.inline-block{display:inline-block!important;}
/*UTILITIES*/

/*ESTILOS*/

body {
    background-color:#72a0d1;
    background-image:url(../img/background.jpg);
    background-repeat:no-repeat;
    background-position: top center;
    background-attachment: fixed;
    height: 100%;
}

.full {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header,footer {
    background-color: #040701;
    color: #54b37b;
    padding: 20px 0px;
}

.contenido {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.contenido-centrado{
    width:calc(100% - 60px);
    margin: 0 auto;
    max-width: 1600px;
}

header .contenido-centrado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 100px;
}

header .logo img {
    width: 100%;
}

header .buscador {
    max-width: 450px;
}

header .buscador form {
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid #0e683e;
    display: flex;
    justify-content: space-between;
}

header .buscador form input[type="text"] {
    color: #fff;
    font-family: 'Raleway';
    font-size: 16px;
    padding: 5px 20px;
    background: none;
    border: none;
    font-weight: 400;
    width: calc(100% - 40px);
}

header .buscador form button {
    background: none;
    border: none;
    color: #ffffff;
    width: 40px;
    padding: 2px 0;
    text-align: center;
}

.contenido-serie {
    margin: 40px auto;
    background: rgba(4, 7, 1, 0.5);
    box-shadow: 0 0 10px #094f3d;
    padding: 40px;
    font-size: 17px;
    color: #fff;
}

div.temporadas .temporada {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #358756;
}

div.temporadas .temporada:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

div.temporadas .temporada .detalle-temporada {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

div.temporadas .temporada .detalle-temporada img {
    max-width: 300px;
    width: 100%;
}

div.temporadas .temporada .detalle-temporada p.titulo-temporada {
    font-size: 18px;
    font-weight: bold;
}

div.temporadas .temporada .episodios {
    display: none;
    padding: 20px 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
}

div.temporadas .temporada .episodios .episodio {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: #fff;
    margin-bottom: 30px;
    padding:20px 20px;
    background-color:rgba(255, 255, 255, 0.1);
    box-shadow:0px 5px 10px rgba(0, 0, 0, 0.2);
}
div.temporadas .temporada .episodios .episodio:last-child{
    margin-bottom: 0px;
}

div.temporadas .temporada .episodios .episodio .imagen {
    width: 100%;
    margin-right: 20px;
    max-width: 250px;
}

div.temporadas .temporada .episodios .episodio .imagen img {
    width: 100%;
}
div.temporadas .temporada .episodios .episodio .detalle{
    font-size: 14px;
    line-height: 1.4em;
}
div.temporadas .temporada .episodios .episodio .detalle p {
    margin-bottom: 10px;
}

div.temporadas .temporada .episodios .episodio .detalle ul.rating {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

div.temporadas .temporada .episodios .episodio .detalle ul.rating > li {
    display: inline-block;
}

div.temporadas .temporada .episodios .episodio .detalle p span {
    display: inline-block;
}



/*MEDIAS*/
@media only screen and (max-width : 900px) {
    div.temporadas .temporada .detalle-temporada{
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }

    div.temporadas .temporada .detalle-temporada img {
        max-width: 500px;
        order: 1;
        margin: 0 auto;
    }

    div.temporadas .temporada .detalle-temporada p.titulo-temporada {
        margin-bottom: 10px;
        font-size: 15px;
    }

    div.temporadas .temporada .detalle-temporada .ficha {
        margin-bottom: 10px;
        font-size: 15px;
    }
    div.temporadas .temporada .episodios .episodio .imagen{
        max-width:200px;
        margin-right:10px;
    }
    div.temporadas .temporada .episodios .episodio .detalle{
        font-size: 13px;
    }
    div.temporadas .temporada .episodios .episodio .detalle p {
        margin-bottom: 5px;
    }
}
@media only screen and (max-width : 700px) {
    div.temporadas .temporada .episodios .episodio{flex-direction: column;}
    div.temporadas .temporada .episodios .episodio .imagen {
        margin: 0 auto 20px;
        max-width: 300px;
    }
}
@media only screen and (max-width : 500px) {
    .contenido-centrado{
        width:calc(100% - 20px);
    }
    .contenido-serie{
        padding: 20px;
    }
    div.temporadas .temporada .episodios{
        padding: 20px 0;
    }
    header .contenido-centrado{

        flex-direction: column;
    }

    header .logo {
        margin-bottom: 20px;
    }

    header .buscador {
        max-width: 100%;
        width: 100%;
    }
}
@media only screen and (max-width : 360px) {
    footer {display:none;}    
}

/*MEDIAS*/